<a href="https://colab.research.google.com/github/KadaliSurendra/python-basics/blob/master/DAY1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# prompt: def prime(*args):

def addition(*args):
  total = 0
  for n in args:
    total+=n
  return total


print(addition(1,2,3,4,4,5,6,7,8,9))
print(addition(1,2,3,4))

49
10

In [20]:
def person(**kwargs):
  for k,v in kwargs.items():
    print(k,'  :  ',v)
#dic={'name':'Surendra','Age': 23, 'Gender':'Male','Country':'India','State':'Andhra pradesh','City':'Bhimavaram','Phone_number':7993051296}
print(person(name='Surendra',age = 23))

name   :   Surendra
age   :   23
None

In [21]:
def even(x):
  if x%2 ==0:
    return True
  else:
    return False
l= [1,2,3,4,5,6,7,8,9,10]
maped = map(even,l)
print(list(maped))
filterd = filter(even,l)
print(list(filterd))

[False, True, False, True, False, True, False, True, False, True]
[2, 4, 6, 8, 10]